.xxx {
  background: grey;
    width: 800px;
  height: 1200px;
   display: flex;
  flex-wrap: wrap;
}
#header {
  background: #9A6EE1;
  width: 780px;
  height: 200px;
  margin: 2px;
   border: 10px solid cornflowerblue;
}
#nav {
  width: 780px;
  height: 150px;
  background: #f0f0f0;
  border: 10px solid cornflowerblue;
}
.mine {
  width: 500px;
  height: 600px;
  background: red;
  margin: 10px;
   display: flex;
  flex-direction: column;
}
.aside {
  width: 250px;
  height: 600px;
  background: aqua;
  margin: 10px;
}
#footer {
  width: 770px;
  height: 150px;
  background: darkorange;
  margin: 10px;
   border: 10px solid cornflowerblue;
}



