.xxx {
  background: grey;
    width: 800px;
    height: 1600px;
    display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /*align-items: flex-end*/


}
.post {
  background: blue;
  width: 500px;
  height: 200px;
  margin: 10px;
}
#header {
  display: flex;
  width: 800px;
  height: 200px;
  background: #f0f0f0;
  margin: 10px;
}
#menu {
  display: flex;
  width: 1000px;
  height: 1200px;
  background: red;
  margin: 10px;
}


