.xxx {
  background: grey;
    width: 800px;
    height: 1600px;
    display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  /*align-items: flex-end*/


}
.post {
  background: blue;
  width: 600px;
  height: 250px;
  margin: 10px;
  display: flex;
}
#header {
  width: 780px;
  height: 150px;
  background: #f0f0f0;
  margin: 10px;
  display: flex;
}
#menu {
  width: 150px;
  height: 500px;
  background: red;
  margin: 10px;
  display: flex;
}
#footer {
  width: 780px;
  height: 150px;
  background: aqua;
  margin: 10px;
  display: flex;
  align-items: flex-end;
}



