.xxx {
  background: grey;
    width: 770px;
  height: 630px;
    display: flex;
  flex-wrap: wrap;
  flex-direction: column;


}
#header {
  width: 780px;
  height: 150px;
  background: #f0f0f0;


}
#menu {
  width: 150px;
  height: 630px;
  background: red;

}
.post {
  background: #9A6EE1;
  width: 600px;
  height: 310px;
  margin: 1px;
 }
#footer {
  width: 770px;
  height: 160px;
  background: aqua;
}



