.xxx {
  background: grey;
    width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.a {
    background: red;
    width: 1600px;
    height: 200px;
    margin: 5px;

}
.b {
    background: blue;
    width: 1240px;
    height: 550px;
    margin: 5px;
   }
.c {
    background: aqua;
    width: 340px;
    height: 550px;
    margin: 5px;
 }