.xxx {
  background: grey;
    width: 800px;
  height: 1000px;
 align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
box-sizing: border-box

}
.yyy {
  background: #9A6EE1;
  width: 200px;
  height: 250px;
  margin: 10px;
  display: flex;
  flex-grow: 1;
}
#header {
  width: 780px;
  height: 250px;
  background: #f0f0f0;
  margin: 10px;
  display: flex;
}
#footer {
  width: 770px;
  height: 400px;
  background: aqua;
  margin: 10px;
  display: flex;

}



